<body data-category-id="<%= @question.category.id %>" data-question-id="<%= @question.id %>" data-next-question-url="<%= next_category_question_path(@question.category, @question) %>">
  <div class="container">
    <div class="content">
      <h3>問題 <%= @question.number %> :</h3>

      <%= markdown(@question.content) %>
      <div class="card mb-3">
        <ul id="choices" class="list-group list-group-flush">
          <% @choices.each_with_index do |choice, i| %>
            <li class="choice list-group-item" data-choice-id="<%= choice.id %>"><%= i + 1 %> : <%= markdown(choice.content) %></li>
          <% end %>
        </ul>
      </div>
      <% unless @show_solution %>
        <div class="card border-light mb-3">
          <h5><div id="selected_choices" class="text-center"></div></h5>
          <button id="submit_answers" class="btn btn-outline-success">回答</button>
        </div>
      <% end %>
    </div>

    <% if @show_solution %>
      <div class="card bg-warning bg-opacity-10 mb-3">
        <ul>
          <li class="mt-3">正しい選択肢:</li>
          <% @question.choices.where(is_correct: true).each do |choice| %>
            <li><%= markdown(choice.content) %></li>
          <% end %>
        </ul>
      </div>
      <div class="card bg-info bg-opacity-10 mb-3">
        <ul>
          <li class="mt-3">解説:</li>
          <li><%= @question.explanation %></li>
        </ul>
      </div>
      <%= link_to '←結果ページに戻る', results_category_path(@question.category), class: "btn  btn-outline-warning" %>
    <% else %>
      <div id="result_card" class="content" style="display:none;">
        <div id="result_display" class=""></div>
        <div id="correct_answers" class="card bg-warning bg-opacity-10 mb-3"></div>
        <div id="explanation" class="card bg-info bg-opacity-10 mb-3"></div>
        <button id="next_button" class="btn btn-primary">次へ</button>
      </div>
    <% end %>
  </div>
</body>
