<div class="container">
  <div class="content">
    <h3>ユーザー管理</h3>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr class="table-info text-center align-middle">
          <th scope="col">ID</th>
          <th scope="col">名前</th>
          <th scope="col">Email</th>
          <th scope="col">役割</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="text-center align-middle">
            <td><%= user.id %></td>
            <td><%= link_to user.name, user_path(user.id), class: "link-primary" %></td>
            <td><%= user.email %></td>
            <td class="<%= role_color(user.role) %>"><%= user.role %></td>
            <td class="d-flex justify-content-evenly">
              <%= link_to "編集", edit_user_path(user.id), class: "btn btn-outline-primary" %>
              <%= link_to '削除', user_path(user.id), data: { turbo_method: :delete, turbo_confirm: "ユーザーと今までの成績も削除されます。よろしいですか？"}, class: "btn btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
