<div class="container">
  <div class="content">
    <%= link_to "←戻る", root_path, class: "btn btn-outline-warning mb-5" %>

    <h1><%= @user.name %>さんのマイページ</h1>
  </div>

  <div class="content">
    <h3>ユーザー情報</h3>
    <table class="table table-bordered align-middle">
      <thead>
        <tr class="text-center align-middle">
          <th scope="col">ID</th>
          <th scope="col">名前</th>
          <th scope="col">Email</th>
          <th scope="col">役割</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center align-middle">
          <td><%= @user.id %></td>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
          <td><%= @user.role %></td>
          <td class="d-flex justify-content-evenly">
            <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-outline-primary" %>
            <%= link_to '削除', "#", data: { turbo_method: :delete, turbo_confirm: "ユーザーと今までの成績も削除されます。よろしいですか？"}, class: "btn btn-outline-danger" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="content">
    <h3>成績履歴</h3>
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>実施日</th>
          <th>カテゴリ</th>
          <th>問題数</th>
          <th>正解数</th>
          <th>正解率</th>
          <th></th>
      </thead>
      <tbody>
        <% @quiz_results.each do |result| %>
          <tr>
            <td><%= format_session_timestamp(result.session_ts) %></td>
            <td><%= link_to result.category.name, results_path(session_ts: result.session_ts), class: "btn btn-link btn-lg" %></td>
            <td><%= result.total_questions %></td>
            <td><%= result.correct_answers %></td>
            <td><%= (result.correct_answers.to_f / result.total_questions * 100).round(2) %>%</td>
            <td><%= link_to '削除', result_path(session_ts: result.session_ts), data: { turbo_method: :delete, turbo_confirm: "結果を削除します。よろしいですか？"}, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="content">
    <h3>メモ一覧</h3>
    <div id="memo_list">
      <% @questions_with_memos.each_with_index do |question, index| %>
        <% memo = question.memo_content(@user) %>
        <% next if memo.blank? %>

        <div class="card bg-info bg-opacity-10 mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5>問題 <%= question.number %> - カテゴリ: <%= question.category.name %></h5>
              <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#memo-<%= index %>" aria-expanded="true" aria-controls="memo-<%= index %>">
                メモを表示/非表示
              </button>
              <%= link_to 'メモ削除', category_question_memo_path(question.category, question), data: { turbo_method: :delete, turbo_confirm: 'このメモを削除しますか？' }, class: 'btn btn-danger' %>
            </div>
            <div id="memo-<%= index %>" class="collapse show mt-3">
              <div><%= simple_format(memo) %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
