<div class="container">
  <h1>成績</h1>

  <div class="content">
    <h5>カテゴリー: <%= @category.name %></h5>
    <h5>問題数: <%= @questions.count %></h5>
    <h5>正答率: <%= @accuracy_rate %> %</h5>
    <h5>実施日時: <%= format_session_timestamp(@session_ts) %></h5>
  </div>

  <div class="content">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th>問題番号</th>
          <th>結果</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @quiz_results.each do |result| %>
          <tr>
            <td class="align-middle">
              <%= result.question.number %>
            </td>
            <td class="align-middle">
              <% if result.is_correct %>
                <span>正解</span>
              <% else %>
                <span class="text-danger">不正解</span>
              <% end %>
            </td>
            <td>
              <%= link_to '問題と解説を見る', result_path(result.question, session_ts: result.session_ts), class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="content">
    <%= link_to '←マイページに戻る', user_path(current_user), class: "btn  btn-outline-warning" %><br>
    <%= link_to '←トップページに戻る', root_path, class: "btn  btn-outline-warning" %>
  </div>
</div>
