<div class="container">
  <div class="content">
    <%= link_to "←戻る", root_path, class: "btn btn-outline-warning mb-5" %>

    <h1>問題一覧</h1>
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th></th><th></th>
          <th>カテゴリ</th>
          <th>問題数</th>
          <th>作成日</th>
          <th>最終更新日</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to '1番から解く', start_quiz_category_path(category, random: false), class: "btn btn-success" %></td>
            <td><%= link_to 'ランダムで解く', start_quiz_category_path(category, random: true), class: "btn btn-success" %></td>
            <td><%= link_to category.name, category_path(category), class: "btn btn-link btn-lg" %></td>
            <td><%= category.questions.count %></td>
            <td><%= category.created_at.strftime("%Y/%m/%d") %></td>
            <td><%= category.questions.maximum(:updated_at).strftime("%Y/%m/%d") %></td>
            <td><%= link_to '削除', category_path(category), data: { turbo_method: :delete, turbo_confirm: "カテゴリー全体と今までの成績も削除されます。よろしいですか？"}, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-grid gap-2 col-4 mx-auto">
      <%= link_to '新規作成', new_category_path, class: "btn btn-outline-info" %>
    </div>
  </div>
</div>
