<div class="container">
  <h1>成績発表！！</h1>
  
  <div class="content">
    <h5>カテゴリー: <%= @category.name %></h5>
    <h5>問題数: <%= @questions.count %></h5>


    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th>問題</th>
          <th>結果</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <% result = @results[question.id.to_s] %>
          <tr>
            <td><%= question.number %>
            </td>
            <td>
              <% if result %>
                <%= result[:is_correct] ? "正解" : "不正解" %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <%= link_to '問題と解説を見る', category_question_path(@category, question, show_solution: true), class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
